<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <header><div class="wrapper">
    <h1>Design Refine</h1>
    <h2>The worlds fastest sitemap tool is coming soon</h2>
    <form action="http://pixler.us7.list-manage2.com/subscribe/post?u=521a32d43024a36cce4a70a96&amp;id=9ee43153c2" method="post" class="wrapper" target="_blank" novalidate>
      <label for="email-top"></label>
      <input type="email" value="" id="email-top" name="EMAIL">
      <input type="submit" value="Subscribe" name="subscribe">
    </form>
  </div></header>

  <section class="feature"><div class="wrapper">
    <img src="/images/lightning.svg" alt="">
    <h2>Lightning fast</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia corporis nulla minima veniam amet reiciendis nisi delectus assumenda ducimus!</p>
  </div></section>

  <section class="feature"><div class="wrapper">
    <img src="/images/easy.svg" alt="">
    <h2>Easy to use</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia corporis nulla minima veniam amet reiciendis nisi delectus assumenda ducimus!</p>
  </div></section>

  <section class="feature"><div class="wrapper">
    <img src="/images/collaborate.svg" alt="">
    <h2>Collaborative</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, mollitia corporis nulla minima veniam amet reiciendis nisi delectus assumenda ducimus!</p>
  </div></section>
  
  
  <section>
    <form action="http://pixler.us7.list-manage2.com/subscribe/post?u=521a32d43024a36cce4a70a96&amp;id=9ee43153c2" method="post" class="wrapper" target="_blank" novalidate>
      <h2>Subscribe to our newsletter</h2>
      <label for="email-bottom"></label>
      <input type="email" value="" id="email-bottom" name="EMAIL">
      <input type="submit" value="Subscribe" name="subscribe">
    </form>
  </section>

  <footer><div class="wrapper">
    &copy; Design Refine <script type="text/javascript"> document.write(new Date().getFullYear()); </script>
  </div></footer>
</body>
</html>